@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "DM Sans", "sans-serif";
}
/* *, *::before, *::after { 
    box-sizing: inherit; } */

/* ---------- INICIA ESTILOS DEL HEADER ---------- */

.contenedor_header{
    display: flex;
    position: sticky;
    flex-direction: row;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px #0000001a;
    background-color: #fff;
    align-items: flex-start;
    max-height: 88px;
    max-width: 100%;
}

.header_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0 0px 20px;
    max-height: 88px;
}

.boton_menu{
    color: #000000;
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.contenedor_nav{
    width: 100vw;
    max-height: 88px;
    display: none;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    text-decoration: none;
    gap: 32px;
}

.nav_start{
    display: flex;
    background-color: #fff;
    max-width: 100vw;
    align-items: center;
    flex-grow: 1;
    gap: 32px;
    z-index: 1;
    padding: 10px;
    font-weight: 300;
}

nav ul{
    list-style-type: none;
    gap: 20px;
    display: flex;
}

nav ul li {
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.nav_botton_uno{
    display: flex;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
    gap: 6px;
}

.nav_start{
    gap: 32px;
    font-weight: 300;
}

.nav_end{
    display: flex;
    align-items: center;
    gap: 32px;
    line-height: 24px;
}

.nav_bandera{
    display: flex;
    position: relative;
    align-items: center;  
    padding: 12px 16px; 
    gap: 10px;
    cursor: pointer;
}

.bandera{
    width: 32px;
}

.text_espa침ol{
    display: flex;
    font-weight: 900;
}

.nav_login{
    display: inline-block;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid;
    cursor: pointer;
}

.button_login{
    font-weight: 700;
    padding: 12px 16px;
    color: black;
    display: inline-block;
}

/* ------------------------ FINALIZA ESTILOS DEL HEADER  ------------------------*/


/* ---------- INICIA ESTILOS DE LA SECTION: HERO ---------- */

h2{
    font-size: 16px;
}

.subtitulo_profesion{
    color: #888faa;
    font-size: 14px;
    line-height: 24px;
}

.section_hero{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section__hero__content{
    width: 1128px;
}

.titulo_hero{
    font-size: 36px;
    color:rgb(0, 0, 0);
    text-align: center;
    margin-bottom:48px;
}

.hero_padre{
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.hero_padre_boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 6px;
}

.hijo_hero{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: baseline;
    background-color: #f4f5ff;
    border: 1px solid #d5dfff;
    border-radius: 16px;
    padding: 32px;
    width: 358px;
}

.contenedor_persona{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;
}


.section_hero_nombre{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding-left: 10px;
}

.section_hero_foto{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_hero_foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_hero_link{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.bi bi-chevron-right{
    font-size: 16px;
}

.parrafo_comentario_charlie{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}

.parrafo_comentario_jack{
    margin-bottom: 70px;
}

.parrafo_comentario_jhon{
margin-bottom: 50px;
}

.icon_star{
    margin-bottom: 16px;
    color: #00b090;
    display: flex;
    gap: 8px;
}

.section_hero_link{
    color: #5025d1;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items:end;
    justify-content: center;
    gap: 6px;
    text-decoration: none;
}
.leermas{
    text-decoration: none;
}

.link_flecha{
    fill: #5025d1;
    color: #5025d1;
    font-size: 12px; 
    cursor: pointer;
    font-weight: 700;
}

.section_hero_boton{
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
}

.boton_texto{
    color: #673de6;
    font-weight: 700;
    font-size: 18px;
}

.boton_comentario{
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    position: relative;
    text-decoration: none;
    padding: 11px 47px;
    background-color: transparent;
    border: 1px solid #673de6;
    cursor: pointer;
}


/* ---------- INICIA ESTILOS DE LA SECTION: RAPIDEZ. CONFIABILIDAD Y SIMPLICIDAD ---------- */

.contenedor_section{
    background-color: #1f1346;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section_cabezal{
    gap: 32px;
}
/* Este margen se mantiene en todo el sitio web como si fuera una columna de informaci칩n */
.section__service__content{
    width: 1128px;
}

.padre{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:24px;
    margin-left: 40px;
    margin-right: 40px;
}

.hijo{
    background-color:  #5025d147;
    flex-direction: row;
    border-radius: 16px;
    width: 350px;
    height: 200px;
    padding: 40px;

}

.titulo{
    font-size: 36px;
    color:rgb(255, 255, 255);
    text-align: center;
    padding-bottom:32px;
}

.subtitulo{
    color:rgb(255, 255, 255);
    font-size: 16px;
    padding-bottom: 40px;
    text-align: center;
}

.text-primario{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.text-secundario{
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    margin-top: 20px;
    line-height: 20px;
}

.botones{
    background-color: #673de6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 40px;
    width: 40px;
    border: none;
    box-shadow: none;
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

/* ---------- FINALIZA ESTILOS DE LA SECTION: RAPIDEZ. CONFIABILIDAD Y SIMPLICIDAD ---------- */

/*--------------------------------- INICIO FOOTER------------------------------ */

footer{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f4f5ff;
}

.contenedor_footer{
    margin: 0 0 24px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1128px;
    margin: 20px 40px;
}

.footer_logo{
    display: flex;
    height: 55px;
    cursor: pointer;
}

.footer_redes{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 8px;
}

.boton_redes{
    width: 25px;
    height: 25px;
    border-color: transparent;
    cursor: pointer;
}

.contenedor_footer_tarjetas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1128px;
    margin: 0px 40px 24px;
}


.footer_tarjetas{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.contenedor_tarjeta{
    width: 60px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid;
    overflow: hidden;
    border-color: #d5dfff;
    background-color: #fff;
}

.tarjeta{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor_mas{
    cursor: pointer;
    font-weight: 700;
}

a{
    text-decoration: none;
}

.footer_texto{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    gap: 15px;
    color: #000000;
}

.texto_link{
    color: #000000;
    cursor: pointer;
}

.texto_link:hover{
    color: #673de6;
}

.contenedor_footer_hostinger{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1128px;
    margin: 0px 40px;
    padding: 24px 0;
    border-top: 1px solid #d5dfff;
}

.texto_hostinger{
    font-size: 14px;
    line-height: 24px;
}

/* RESPONSIVE */

/* tablet */
@media screen and (min-width: 678px){
    .contenedor_nav{
        display: none;
    }
    .boton_menu{
        display: flex;
    }
    
}

/* nootbook */
@media screen and (min-width: 1200px){
    .contenedor_nav{
        display: flex;
    }
        .boton_menu{
        display: none;
    }
            
    .contenedor_header{
        display: flex;
        position: sticky;
        flex-direction: row;
        top: 0;
        z-index: 1000;
        box-shadow: 0 4px 10px #0000001a;
        background-color: #fff;
        align-items: flex-start;
        max-height: 88px;
        max-width: 100%;
    }

    .header_logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 0 0px 20px;
        max-height: 88px;
    }

    .boton_menu{
        display: none;
        background-color: transparent;
        border: none;
        font-size: 30px;
    }

    .contenedor_nav{
        width: 100vw;
        max-height: 88px;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        text-decoration: none;
        gap: 32px;
    }

    .nav_start{
        display: flex;
        background-color: #fff;
        max-width: 100vw;
        align-items: center;
        flex-grow: 1;
        gap: 32px;
        z-index: 1;
        padding: 10px;
        font-weight: 300;
    }

    nav ul{
        list-style-type: none;
        gap: 20px;
        display: flex;
    }

    nav ul li {
        display: inline;
    }

    nav ul li a{
        text-decoration: none;
        color: black;
        font-weight: 300;
    }

    .nav_botton_uno{
        display: flex;
        align-items: center;
        font-weight: 300;
        cursor: pointer;
        gap: 6px;
    }

    .nav_start{
        gap: 32px;
        font-weight: 300;
    }

    .nav_end{
        display: flex;
        align-items: center;
        gap: 32px;
        line-height: 24px;
    }

    .nav_bandera{
        display: flex;
        position: relative;
        align-items: center;  
        padding: 12px 16px; 
        gap: 10px;
        cursor: pointer;
    }

    .bandera{
        width: 32px;
    }

    .text_espa침ol{
        display: flex;
        font-weight: 900;
    }

    .nav_login{
        display: inline-block;
        background-color: transparent;
        border-radius: 8px;
        border: 2px solid;
        cursor: pointer;
    }

    .button_login{
        font-weight: 700;
        padding: 12px 16px;
        color: black;
        display: inline-block;
    }

    /* ------------------------ FINALIZA ESTILOS DEL HEADER  ------------------------*/


    /* ---------- INICIA ESTILOS DE LA SECTION: HERO ---------- */

    h2{
        font-size: 16px;
    }

    .subtitulo_profesion{
        color: #888faa;
        font-size: 14px;
        line-height: 24px;
    }

    .section_hero{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section__hero__content{
        width: 1128px;
    }

    .titulo_hero{
        font-size: 36px;
        color:rgb(0, 0, 0);
        text-align: center;
        margin-bottom:48px;
    }

    .hero_padre{
        color: #000000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .hero_padre_boton{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 6px;
    }

    .hijo_hero{
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: baseline;
        background-color: #f4f5ff;
        border: 1px solid #d5dfff;
        border-radius: 16px;
        padding: 32px;
        width: 358px;
    }

    .contenedor_persona{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 16px;
    }


    .section_hero_nombre{
        display: flex;
        align-items: baseline;
        flex-direction: column;
        padding-left: 10px;
    }

    .section_hero_foto{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section_hero_foto img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .section_hero_link{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .bi bi-chevron-right{
        font-size: 16px;
    }

    .parrafo_comentario_charlie{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .parrafo_comentario_jack{
        margin-bottom: 70px;
    }

    .parrafo_comentario_jhon{
    margin-bottom: 50px;
    }

    .icon_star{
        margin-bottom: 16px;
        color: #00b090;
        display: flex;
        gap: 8px;
    }

    .section_hero_link{
        color: #5025d1;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        align-items:end;
        justify-content: center;
        gap: 6px;
        text-decoration: none;
    }
    .leermas{
        text-decoration: none;
    }

    .link_flecha{
        fill: #5025d1;
        color: #5025d1;
        font-size: 12px; 
        cursor: pointer;
        font-weight: 700;
    }

    .section_hero_boton{
        display: flex;
        justify-content: center;
        padding-top: 32px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .boton_texto{
        color: #673de6;
        font-weight: 700;
        font-size: 18px;
    }

    .boton_comentario{
        align-items: center;
        border-radius: 8px;
        gap: 8px;
        position: relative;
        text-decoration: none;
        padding: 11px 47px;
        background-color: transparent;
        border: 1px solid #673de6;
        cursor: pointer;
    }


    /* ---------- INICIA ESTILOS DE LA SECTION: RAPIDEZ. CONFIABILIDAD Y SIMPLICIDAD ---------- */

    .contenedor_section{
        background-color: #1f1346;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section_cabezal{
        gap: 32px;
    }
    /* Este margen se mantiene en todo el sitio web como si fuera una columna de informaci칩n */
    .section__service__content{
        width: 1128px;
    }

    .padre{
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap:24px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .hijo{
        background-color:  #5025d147;
        flex-direction: row;
        border-radius: 16px;
        width: 350px;
        height: 200px;
        padding: 40px;

    }

    .titulo{
        font-size: 36px;
        color:rgb(255, 255, 255);
        text-align: center;
        padding-bottom:32px;
    }

    .subtitulo{
        color:rgb(255, 255, 255);
        font-size: 16px;
        padding-bottom: 40px;
        text-align: center;
    }

    .text-primario{
        font-size: 18px;
        color: rgb(255, 255, 255);
        font-weight: 800;
    }

    .text-secundario{
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: 300;
        margin-top: 20px;
        line-height: 20px;
    }

    .botones{
        background-color: #673de6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        height: 40px;
        width: 40px;
        border: none;
        box-shadow: none;
        color: #fff;
        margin-bottom: 20px;
        font-size: 24px;
        color: #fff;
    }

    /* ---------- FINALIZA ESTILOS DE LA SECTION: RAPIDEZ. CONFIABILIDAD Y SIMPLICIDAD ---------- */

    /*--------------------------------- INICIO FOOTER------------------------------ */

    footer{
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #f4f5ff;
    }

    .contenedor_footer{
        margin: 0 0 24px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1128px;
        margin: 20px 40px;
    }

    .footer_logo{
        display: flex;
        height: 55px;
        cursor: pointer;
    }

    .footer_redes{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        gap: 8px;
    }

    .boton_redes{
        width: 25px;
        height: 25px;
        border-color: transparent;
        cursor: pointer;
    }

    .contenedor_footer_tarjetas{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1128px;
        margin: 0px 40px 24px;
    }


    .footer_tarjetas{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px;
    }

    .contenedor_tarjeta{
        width: 60px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid;
        overflow: hidden;
        border-color: #d5dfff;
        background-color: #fff;
    }

    .tarjeta{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contenedor_mas{
        cursor: pointer;
        font-weight: 700;
    }

    a{
        text-decoration: none;
    }

    .footer_texto{
        display: flex;
        flex-direction: row;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        gap: 15px;
        color: #000000;
    }

    .texto_link{
        color: #000000;
        cursor: pointer;
    }

    .texto_link:hover{
        color: #673de6;
    }

    .contenedor_footer_hostinger{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1128px;
        margin: 0px 40px;
        padding: 24px 0;
        border-top: 1px solid #d5dfff;
    }

    .texto_hostinger{
        font-size: 14px;
        line-height: 24px;
    }

}

/*     escritorio */
@media screen and (min-width: 1440px){

}